<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles/main-style.css">
  <link rel="stylesheet" type="text/css" href="styles/login-style.css">
  <title>Siedler - Login</title>
  <link rel="icon" href="../styles/logo.png">
</head>
<body>
  <div id="login">

      <div class="login-item">
          <img src="images/login-icon.png" alt="login-image">
      </div>

      <div class="login-item">
        <form id="login-form" method="post">
          <legend>SIEDLER</legend>
          <input type="text" placeholder="Username" name="user" required>
          <input type="Password" placeholder="Password" name="pass" required>
          <input type="submit" name="Login" value="Login">
        </form>

      </div>
  </div>
</body>

<?php
  if(isset($_POST['Login'])){
    $password = $_POST['pass'];
    $password = md5($password);
    $username = $_POST['user'];
    header('Location: index.php?username='.$username.'&password='.$password.'&aktion=login');
  }
?>
</html>
